<div class="container container-form">
  <h2>New listing</h2>

  <%= simple_form_for(@listing) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price_per_hour, input_html: { min: '0' }  %>
    <%= f.input :location %>
    <%= f.submit class: "button button-primary" %>
  <% end %>
  <hr>
  <%= link_to "Back to my listings", listings_path, class: "button button-primary" %>
</div>
