<p style="color: green"><%= notice %></p>

<div class="container">

  <div class="row mb-3 show-card-img-container">
    <div class="col-sm-12 col-md-6 col-lg-4 show-card-img">
      <img src="https://random.imagecdn.app/100/150" class="show-card-img-height"/>
      <%# update above for user uploaded images %>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 card-body show-card-body">
      <h5 class="card-title my-3"><%= @listing.name %></h5>
      <p class="card-text"><%= @listing.description %></p>
      <div>
        <p class="card-text show-card-price"><small class="text-muted">Per hour: <%= @listing.price_per_hour.to_i.round(2) %> CHF</small></p>
      </div>
    </div>
  </div>
  <hr>
  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <hr>

  <div>
    <% if @listing.user == current_user %>
      <%= link_to "Edit this listing", edit_listing_path(@listing), class: "button button-primary"  %>
      <br>
      <br>
      <%= button_to "Destroy this listing", @listing, method: :delete, class: "button button-primary" %>
    <% end %>
    <hr>
    <%= link_to "Go to all listings", root_path, class: "button button-primary" %>
    <hr>
    <%= link_to "Go to my listings", listings_path, class: "button button-primary" %>
  </div>

</div>
