<div class="card">
  <div class="card-picture-container">
    <%# <img class="d-block w-100 image" src="https://random.imagecdn.app/100/150" alt="First slide"> %>
    <img class="card-picture" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLoXKvndrrNd-L1MUEOtp3EgNvnfqnhkIjxDyacfsEfyIWQw45o6pD8ttzlnp1C-xVXR0&usqp=CAU" alt="">
    <%# <%= cl_image_tag listing.photo.key %>
  </div>
  <div class="card-content">
    <div class="card-body card-title-height">
      <h3 class="card-title"><%= listing.name %></h3>
    </div>
    <div class="card-body card-body-height">
      <p class="card-text card-body-description"><%= listing.description %></p>
    </div>
    <div class="card-body">
      <p class="card-text card-body-description card-tag"><%= listing.category_type%></p>
    </div>
    <div class="card-body card-price-height">
      <p class="card-text"><i class="fa-sharp fa-solid fa-sack-dollar"></i> <%= listing.price_per_hour.to_i.round(2) %> CHF / Hour</p>
    </div>
    <div class="card-body card-price-height">
      <p class="card-text"><i class="fa-sharp fa-solid fa-location-pin"></i> <%= listing.location %></p>
    </div>
  </div>
  <%= link_to '', listing_path(listing), class: 'card-link' %>
</div>
