<div class="container homepage-container">
  <h2 class="text-center">All listings</h2>
  <%= link_to "Create new listing", new_listing_path, class: "button button-primary" %>
  <hr>

  <div class="row">
    <%= form_with url: listings_path, method: :get, class: "container" do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a listing"
      %>
      <%= submit_tag "Search", class: "button button-primary " %>


      <li class="dropdown col-3 text-center list-unstyled mx-5">
        Sort by...
        <%= image_tag "", class: "dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "Electronic", root_path(query:"Electronic"), class: "dropdown-item" %>
          <%= link_to "Manual", root_path(query:"Manual"), class: "dropdown-item" %>
          <%= link_to "Gas-powered", root_path(query:"Gas-powered"), class: "dropdown-item" %>
          <%= link_to "Other", root_path(query:"Other"), class: "dropdown-item" %>
        </div>
      </li>
  </div>
  <% end %>
</div>
<%# Iterate over ALL listings from ALL users - ordered by date created - creating a card for each listing %>
  <hr>
  <%# Iterate over listings for current_user %>
  <div class="row gx">
    <% @listings.each do |listing| %>
      <div class="col-sm-6 col-md-4 col-lg-3"><%= render 'shared/card', listing: listing %></div>
    <% end  %>
  </div>
</div>
